<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9">
            <div class="welcome">
                
                <h1>Hello, Jane</h1>
                <p>Welcome to Drug Watch, you can start monitoring your treatment</p>
            </div>
            <div class="my-4">
                <button class="btn btn-oval btn-primary btn-gradient mr-2">14 Messages</button>
                <button class="btn btn-secondary btn-oval" type="button"><em class="ion-forward text-success mr-2 icon-lg"></em><span>View requests</span></button>
            </div>
        </div>
        <div class="col-xl-3">
            
        </div>
    </div>
</div>
